<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiwangmaoyi.luckydraw.dao.mapper.RoundMapper" >
  <resultMap id="BaseResultMap" type="com.baiwangmaoyi.luckydraw.entity.Round" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="ruleset_id" property="rulesetId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, start_time, ruleset_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from round
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectMaxByRulesetId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from round
        where id = (select max(id) from round where ruleset_id = #{rulesetId,jdbcType=BIGINT})
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from round
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true"  keyProperty="id"
          parameterType="com.baiwangmaoyi.luckydraw.entity.Round" >
    insert into round (id, start_time, ruleset_id
      )
    values (#{id,jdbcType=BIGINT}, #{startTime,jdbcType=TIMESTAMP}, #{rulesetId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baiwangmaoyi.luckydraw.entity.Round" >
    insert into round
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="rulesetId != null" >
        ruleset_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rulesetId != null" >
        #{rulesetId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baiwangmaoyi.luckydraw.entity.Round" >
    update round
    <set >
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rulesetId != null" >
        ruleset_id = #{rulesetId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baiwangmaoyi.luckydraw.entity.Round" >
    update round
    set start_time = #{startTime,jdbcType=TIMESTAMP},
      ruleset_id = #{rulesetId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
